{:version 1,
 :datahike "0.8.1861",
 :answers
 {:decimal-roundtrip
  {:balances [["bank" {:dec "100.50"}] ["cash" {:dec "100.05"}]]},
  :entity-flat {:entity-a {:age 10, :name "a"}},
  :entity-lookup-ref
  {:entity-by-lookup-ref {:active true, :sym "USD"}},
  :find-collection {:all-names ["a" "b" "c"]},
  :find-scalar {:age-of-a 10},
  :pull-basic {:pull-a {:age 10, :name "a"}},
  :rel-basic
  {:names-and-ages [["a" 10] ["b" 20] ["c" 30]],
   :over-15 [["b"] ["c"]]},
  :with-aggregate {:sum-with-dupes 15}}}
